In [1]:
a = b = 30
c, d = 30, "Hello"
e = 35
print(a, b, c, d, e)

30 30 30 Hello 35

In [2]:
movie = ["닥터 스트레인지", "스플릿", "럭키"]
movie.append("배트맨")
movie.insert(1, "슈퍼맨")
movie.pop(2)
movie.remove("배트맨")
print(movie)

['닥터 스트레인지', '슈퍼맨', '럭키']

In [3]:
temp = ('apple', 'banna', 'cake')
a, b, c = temp
print(a, b, c)

apple banna cake

In [4]:
a, b, c = input().split()
b, c = float(b), int(c)
print(type(a), type(b), type(c))
print('name = ', a, 'height = ', b, 'age = ', c)

<class 'str'> <class 'float'> <class 'int'>
name =  박지민 height =  185.5 age =  28

In [5]:
d = {'Kim' : 34000, 'Lee' : 12000, 'Park' : 1200, 'lew' : 0, 'Song' : 3420}

sum(d.values())

50620

In [6]:
def li(st):
    print(list(st))

li("abcd")

['a', 'b', 'c', 'd']

In [7]:
z = 1
def var():
    global z
    z = z+1

var()
print(z)

2

In [8]:
def f(x):
    return x > 5 and x < 10

a = [8, 3, 2, 10, 15, 7, 1, 9, 0, 11]
list(filter(f, a))

[8, 7, 9]

In [11]:
num = [1, 2, 3, 4]
# sq = [x**2 for x in num]
sq = list(map(lambda x: x**2, num))
sq

[1, 4, 9, 16]

In [13]:
n1 = [1, 2, 3, 4, 5]
ev = list(filter(lambda x: x%2==0, n1))
print(ev)

[2, 4]

In [22]:
p = [(1, 2), (3, 4), (5, 1)]
s = list(sorted(p, key = lambda x: x[1]))
print(s)

[(5, 1), (1, 2), (3, 4)]

In [28]:
import random
ans = []

ans1 = random.sample(range(1, 46), 6)

for i in range(6):
    num = (random.randint(1, 45))
    if num not in ans:
        ans.append(num)

print(ans1)

[29, 44, 43, 17, 26, 21]

In [33]:
game = ['가위', '바위', '보']

def win(user, com):
    if com == user:
        return '비김'
    if (user, com) in (('가위', '보'), ('바위', '가위'), ('보', '바위')):
        return '이겼습니다'
    else:
        return '졌습니다'
    
def conti():
    q = int(input("1을 입력하면 계속, 0을 입력하면 게임이 종료됩니다 : "))
    return q

while True:
    user = input("가위 바위 보: ")
    com = game[random.randint(0, 2)]
    print(f"유저 : {user}")
    print(f"컴퓨터 : {com}")
    print(win(user, com))
    
    print("-"*20)

    if conti():
        continue
    else:
        print("게임을 종료합니다.")
        break

유저 : 가위
컴퓨터 : 바위
졌습니다
--------------------
유저 : 바위
컴퓨터 : 바위
비김
--------------------
유저 : 보
컴퓨터 : 보
비김
--------------------
게임을 종료합니다.

In [34]:
class Dog:
    species = "Doberman"

    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def bark(self):
        return f'{self.name} is barking'

In [35]:
dog1 = Dog('Happy', 3)

In [36]:
type(dog1)

__main__.Dog

In [38]:
dog1.bark()

'Happy is barking'

In [39]:
class Cal:
    def __init__(self, n1, n2):
        self.n1 = n1
        self.n2 = n2
    def add(self):
        ans = self.n1 + self.n2
        return ans
    def sub(self):
        ans = self.n1 - self.n2
        return ans
    def mul(self):
        ans = self.n1 * self.n2
        return ans
    def div(self):
        ans = self.n1 / self.n2
        return ans

In [42]:
a = Cal(7, 3)
b = Cal(10, 2)

In [44]:
a.mul()

21

In [45]:
class up_Cal(Cal):
    def pow(self):
        return self.n1 ** self.n2

In [46]:
c = up_Cal(4, 2)

In [48]:
c.mul()

8

In [49]:
c.pow()

16

In [50]:
d = Cal(5, 0)
d.add()

5

In [51]:
d.div()

ZeroDivisionError: division by zero

In [54]:
class s_Cal(Cal):
    def div(self):
        if self.n2 == 0:
            return 0
        else:
            return self.n1 / self.n2

In [56]:
m = s_Cal(5, 0)
m.div()
m.mul()

0